body {
    font-family: monospace;
    background-color: #fffde7;
} 

.page-header {
    height: 50px;
    width: 100%;
    background-color:#D2691E;
    color: #FFFFFF;   
    text-align: center; 
    font-size:2.5em;
    padding: 1em;
    margin-bottom: 1em;
}

.food-items-wrapper {
  border: 1px solid green;
  padding: 1em;
}

.food-items-wrapper h1 {
    border: 1px solid red;    
}

.food-items-wrapper .food-items {
    display: flex;
    flex-wrap: wrap;
    background-color: silver;
 
}

.food-items-wrapper .food-items .food-item {
    width:33%;
    border:1px solid pink;
}

.H2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000;   
    text-align: left; 
    font-size:1.5em;
}

.H3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000;   
    text-align: left; 
    font-size:1em;
    text-indent: 200px;
}


.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
  }